/* Grundlayout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

/* Navigation */
nav {
    background-color: #151515;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: center; /* Links zentrieren */
    gap: 40px; /* Abstand zwischen Links */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem; /* größer */
    font-weight: 600;
    transition: color 0.3s, transform 0.2s;
}

nav a:hover {
    color: #fff605;
    transform: scale(1.1);
}

nav a.active {
    color: #fff605;
    font-weight: bold;
    border-bottom: 3px solid #fff605;
    padding-bottom: 4px;
}

/* Inhalt */
.container {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}

h1 {
    margin-top: 0;
}

/* Karten-Design */
.card {
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Button */
button {
    background-color: #4da3ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #151515;
    color: #aaa;
    font-size: 0.9rem;
}
